* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato;
}

body {
    color: #000000;
    background: #000;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 10%;
    background-color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10;
    box-shadow: 0px 10px 13px rgba(0,0,0,.2);
}

.logo img {
    width: 100px;
}

.navbar a {
    font-size: 18px;
    color: #584557;
    text-decoration: none;
    padding: 2px;
    margin-left: 35px;
    transition: 0.08s;
}

.navbar a:hover,
.navbar a.active {
    border-bottom: 2px solid #000000;
}

.main{
    background-color: #ffffff;
}

.container {
    height: 320vh;
    display: flex;
}

.home {
    position: center;
    left: -50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    max-width: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.home-content h1{
    font-size: 40px;
    text-shadow: 0 0 10px rgba(0,0,0,.2);
}

.home-content p {
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}